@import "tailwindcss";

:root {
  --background: #FFEDCD;
  --primary: #FF6833;
  --secondary: #EBB625;
  --pink: #F99892;
}

@theme inline {
  /* Colors */
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-pink: var(--pink);

  /* Fonts */
  --font-sans: var(--font-poppins);
  --font-display: var(--font-rammetto);
}


@layer base {
  body {
    @apply bg-background text-primary font-sans;
  }
}